*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
       background-image: url("img/2593190.jpg");
   background-position  : center center;
      background-attachment: fixed;
      background-repeat    : no-repeat;
      background-size      : cover;
      min-height:100vh;
  
}
/* ////////////////////////header style/////////////////// */
header.head ul.link-header {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-items: center;
  background-color: rgb(10, 56, 99);
  
}
header.head ul.link-header li {
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  padding:2%;
  text-align: center;
}
header.head ul.link-header li a {
  text-decoration: none;
  color: wheat;

}
header.head ul.link-header li a:hover {
color: #F3C623;
}
header.head ul.link-header li a.home {
  color: #F3C623;
  }
/* //////////////////definition style///////////////////////////// */

.definition-and-image {
  display: flex;
  flex-direction: row;
  height: 40%;
  padding-top: 5%;
}
.definition {
  width: 70%;
  margin-top: 4%;
  margin-left: 10%;
  line-height: 22px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif
}
.definition span {
  color: #F3C623;
}
.definition h1 {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  font-family: 'Lora', serif;
}
/* //////////////////about style///////////////////////////// */
.section-About-Me {
  /* height: 300px; */
  padding-top: 75px;
  padding-bottom: 50px;
  display: flex;
  flex-direction:column;
  align-items: center;

  
}
.section-About-Me .about-me-image {
  width: 70%;
  height: 265px;
  /* margin-left: 12%; */
  opacity: 0.9;
  padding-bottom: 3%;
}
.section-About-Me div.about-me-text {
  display: flex;
  /* margin-left: 2%; */
  width: 95%;
  height: 250px;
  background-color:#ffffff;
  padding-top: 15px;
 
}
.section-About-Me span {
  font-size: 28px;
  font-weight: bold;
  /* padding-left: 40%; */
  font-family: 'Lora', serif;
  padding-bottom: 3%;
}
#about-me {
  font-size: 20px;
  padding-left: 3%;
  padding-right: 3%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif ;
  line-height: 28px;
  
}
/* //////////////// courses and services style ///////////////// */

#h2Services{
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top:10%;
  font-family: 'Lora', serif;
  color: #ffffff;
}
section.services{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  section.services div {
    /* margin-left: 2%; */
  }
  .course-style{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin-top: 3%;
    height:300px ;
    border-radius: 10px;
    background-color:#ffffff;
    transition: transform .5s, box-shadow 1s;

  } 
  section.services div:hover {
    transform: scale(1.02) perspective(0px);
    box-shadow: 0 10px 10px rgb(10, 56, 99);
  }
  section.services div  figure{
    /* margin-left: 20%;
    margin-top: 19px; */
    border-radius: 6px;
    background-color:rgb(255, 255, 255) ;
  }
  section.services div  figure img{
    /* margin-left: 23%; */
    margin-top: 19px;
    align-content: center;
    border-radius: 6px;
  
  } 
  section.services div h1{
    font-size: 23px;
    text-align: center;
    font-family: 'Lora', serif;
    padding-top: 3%;
  }
  section.services div p{
    font-size: 18px;
    text-align: center;
    font-weight: bold;
   font-family: 'Open Sans', sans-serif;
   padding-top: 5%;
  }   
/* //////////////// Foooooter style ///////////////// */
footer{
  height: 100px;
  width: 100%;
  background-color: rgb(10, 56, 99) ;
  }
  
  div.divContinarFig
  {
    width: 100%;
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 90px;
    

  }
  
  footer figure{
    width: 65px;
    height: 65px;
    border-radius: 240px;
    background-color: #fdfdfd;
    padding-left: 1%;
    padding-right: 1%;
  }
  footer figure img{
    padding-top: 20px;
    padding-left: 20px;
    width: 45px;
    height: 45px;
  }
  
  div.link-footer{padding-top: 20px;
   padding-left: 40%;
  }
  div.link-footer a{
    text-decoration: none ;
    color: white;
    margin: 1.5%;
    font-size: 20px;
  }
  div.link-footer a:hover {
    color: #F3C623;
    text-decoration: underline ;
    }
  
